// COLORS
$main-white: #fbfbfb;
$black: #1c0a02;
$gray: #efefef;
$blue: #cfe8ef;
$blue-light: #cfe8ef;
$main-coral: #e75c49;
$light-coral: #f1bbb3;
$active-coral: #c64534;

// SIZES
$border-radius-s:10px;
$border-radius-m:20px;
// PADDING/MARGIN/GAP
$padding-lr: 80px;
$cl-gap-m:109px;

