.categories-bar {
  @include main-container;
  @include flex-row-center;
  column-gap: $cl-gap-m;
  padding-left: $padding-lr;
  padding-right: $padding-lr;

  &__inner {
    @include flex-row-center;
    width: 80%;
    column-gap: 20px;
  }
  &__input-box {
    @include flex-column-center;
    max-width: 1167px;
    width: 100%;
    position: relative;
    height: 44px;
  }
}
