.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-sizing: border-box;
  color: $main-white;

  &__coral{
    padding: 10px 24px;
    background-color: $main-coral;
    &:hover {
      background-color: $light-coral;
    }
    &:active {
      background-color: $active-coral;
    }
  }
}
