.button {
  @include flex-row-center;
  justify-content: center;
  gap: 10px;
  border: none;
  border-radius: $border-radius-s;
  cursor: pointer;
  box-sizing: border-box;
  color: $main-white;

  &__coral {
    @include use-font(18px, 24px, 400);
    padding: 10px 24px;
    background-color: $main-coral;
    &_categories {
      padding: 12px 16px;
      gap: 4px;
    }
    &_search {
      height: 100%;
      padding: 12px 16px;
      position: absolute;
      right: 0;
      top: 0;
    }
    &_slider {
      width: 43px;
      height: 42px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center;
      padding: 0;
      &-left {
        background-image: url('./icons/left-icon.svg');
      }
      &-right {
        background-image: url('./icons/right-icon.svg');
      }
    }
    &:disabled {
      background-color: $light-coral;
    }
    &:active {
      background-color: $active-coral;
    }
  }
}
