.input {
  position: relative; 
  background: $main-white;
  border-radius: $border-radius-s;
  border: 1px $main-coral solid;
  z-index: 0;
  
  &__search {
    width: 100%;
    position: relative;
    padding: 12px 0 12px 42px;
    background-image: url('./icons/search-icon.svg');
    background-repeat: no-repeat;
    background-position: 24px 12px;
    background-size: 15px;
  }
  
  &-error {
    // для теста
    color: $active-coral;
  }
}
